.slidev-layout {
  --at-apply: px-14 py-10 text-[1.1rem];

  h1,
  h2,
  h3,
  h4,
  p,
  div {
    --at-apply: select-none;
  }

  pre,
  code {
    --at-apply: select-text;
  }

  h1 {
    --at-apply: text-4xl mb-4 font-700 -ml-[0.05em];
  }

  h1+h2 {
    --at-apply: -mt-4 uppercase text-xl font-bold;
  }

  h2 {
    --at-apply: text-2xl font-700;
  }

  h3 {
    --at-apply: text-sm pt-2 uppercase tracking-widest font-500 -ml-[0.05em];
    
    &:first-child {
      --at-apply: text-3xl text-$slidev-text-primary;
    }
  }

  h3:not(.opacity-100) {
    --at-apply: opacity-80;
  }

  h4 {
    @extend h3;
    &:first-child {
      --at-apply: text-xl;
    }
  }

  p {
    --at-apply: my-4 leading-6;
  }

  h1+p {
    --at-apply: -mt-2 mb-4;
  }

  p+h2,
  ul+h2,
  table+h2 {
    --at-apply: mt-10;
  }

  ul {
    list-style: disc;
    --at-apply: mt-4;
  }

  li {
    --at-apply: ml-1.1em pl-0.2em leading-1.8em;
  }

  blockquote {
    --at-apply: text-sm px-2 py-1 bg-$prism-background border-$slidev-theme-primary border-x-3;
  }

  blockquote>* {
    --at-apply: my-0;
  }

  table {
    --at-apply: w-full;
  }

  tr {
    --at-apply: border-b border-gray-400 border-opacity-20;
  }

  th {
    --at-apply: text-left font-400;
  }

  a {
    --at-apply: underline decoration-vue hover:(text-$slidev-theme-primary border-solid decoration-3px);
  }

  td,
  th {
    --at-apply: p-2 py-3;
  }

  b,
  strong {
    --at-apply: font-600;
  }

  kbd {
    --at-apply: border border-gray-400 border-b-2 border-opacity-20 rounded;
    --at-apply: bg-gray-400 bg-opacity-5 py-0.5 px-1 text-sm font-mono;
  }
}

.slidev-layout.intro-image,
.slidev-layout.intro {
  --at-apply: h-full grid;

  h1 {
    --at-apply: font-mono text-6xl font-700 leading-20;
  }

  h1+p {
    --at-apply: font-700 -mt-4 text-2xl;
  }
}

.slidev-layout.fact {
  --at-apply: text-center;

  h1 {
    --at-apply: font-mono text-6xl font-700;
  }

  h1+p {
    --at-apply: font-700 text-2xl;
  }

  h1+h2 {
    --at-apply: mt-4 case-unset text- font-bold;
  }

  small {
    --at-apply: block text-base;
  }

}

.slidev-layout.statement {
  --at-apply: text-center;

  h1 {
    --at-apply: text-6xl font-700;
  }
}

.slidev-layout.quote {
  h1+p {
    --at-apply: mt-6 ml-6;
  }
}

.slidev-layout.section {
  h1 {
    --at-apply: text-6xl font-500 leading-20;
  }
}